.main-toolbar-button {
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#openFileButton {
  -fx-background-image:url('../icons/OpenFileIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#saveFileButton {
  -fx-background-image: url('../icons/SaveFileIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#newFileButton {
  -fx-background-image: url('../icons/NewFileIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#addEpicButton {
  -fx-background-image: url('../icons/AddIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#removeEpicButton {
  -fx-background-image: url('../icons/RemoveIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#moveEpicUpButton {
  -fx-background-image: url('../icons/MoveUpIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#moveEpicDownButton {
  -fx-background-image: url('../icons/MoveDownIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#addTaskButton {
  -fx-background-image: url('../icons/AddIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

#removeTaskButton {
  -fx-background-image: url('../icons/RemoveIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

#moveTaskUpButton {
  -fx-background-image: url('../icons/MoveUpIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

#moveTaskDownButton {
  -fx-background-image: url('../icons/MoveDownIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

#editTaskButton {
  -fx-background-image: url('../icons/EditIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

#manageStoriesButton {
  -fx-background-image: url('../icons/StoryIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#manageRisksButton {
  -fx-background-image: url('../icons/RisksIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
}

#addStoryLinkButton {
  -fx-background-image: url('../icons/AddIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

#removeStoryLinkButton {
  -fx-background-image: url('../icons/RemoveIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

#moveStoryUpButton {
  -fx-background-image: url('../icons/MoveUpIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

#moveStoryDownButton {
  -fx-background-image: url('../icons/MoveDownIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

#addRiskLinkButton {
  -fx-background-image: url('../icons/AddIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

#removeRiskLinkButton {
  -fx-background-image: url('../icons/RemoveIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

#moveRiskUpButton {
  -fx-background-image: url('../icons/MoveUpIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

#moveRiskDownButton {
  -fx-background-image: url('../icons/MoveDownIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

.definedProgress > .bar {
  -fx-background-color: #FFBB10;
}

.sizedProgress > .bar {
  -fx-background-color: #C72A1C;
}

.describedProgress > .bar {
  -fx-background-color: #A81897;
}

.totalTasksCompleteProgress > .bar {
  -fx-background-color: #3A70B2;
}

.totalPointsCompleteProgress > .bar {
  -fx-background-color: #43b324;
}
