#addRiskButton {
  -fx-background-image: url('../icons/AddIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

#removeRiskButton {
  -fx-background-image: url('../icons/RemoveIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}

#editRiskButton {
  -fx-background-image: url('../icons/EditIcon.png');
  -fx-background-position: center center;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-background-size: 25px 25px;
}
